@font-face {
  font-family: 'RecursiveWeb';
  src: url('fonts/recursive_52.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RecursiveWeb';
  src: url('fonts/recursive_52.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}


@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "libs/toastr";
@import "libs/datatables.css";


.needs-validation {
}

.datatable {

}

.datatable_simple {

}

.required {
  color: #c23616;
}

.card {
  box-shadow: 0 0 15px #a0a0a0;
}

.card-header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}