@font-face {
  font-family: 'RecursiveWeb';
  src: url('fonts/recursive_52.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RecursiveWeb';
  src: url('fonts/recursive_52.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



@import "variables";
@import "~bootstrap/scss/bootstrap";




.needs-validation {

}

